#leftImg

{

float:left;

padding: 0 5px 5px 0;

margin-right: 20px;
height: 420px;
width: 320px;

}
#rightImg

{

float:right;

padding: 0 0 5px 5px;

margin-left: 20px;
height: 220px;
width: 220px;

}